# Virtual environment
.venv/
venv/
env/

# Project data/artifacts
data/
outputs/
archive_local/
*mp4
*gif
*pt
# Python cache/compiled files
__pycache__/
*.py[cod]
*$py.class

# Packaging/build
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Test/coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# local artifacts
runs/
outputs/
__pycache__/
.venv/

# external repos
/DeepStream-Yolo/
/DeepStream-Yolo-clean/
/deepstream_tao_apps/

# generated model artifacts
/weights/person/*.engine
/weights/person/*.onnx
/weights/person/*.onnx.data

# accidental / temp
/[UID
/labels.txt

# Temporary files
configs/deepstream/_tmp*
outputs/deepstream_test/*.mp4
deepstream_plugins/gst-dsholdbox/*.bak*
deepstream_plugins/gst-dsholdbox/*.o
deepstream_plugins/gst-dsholdbox/*.so
deepstream_plugins/gst-dsholdbox/dsexample_lib/*.o
deepstream_plugins/gst-dsholdbox/dsexample_lib/*.a
